$white-color: #ffffff;
$bg-color-25: #252525;
$bg-color-31: #313131;
$third-color: rgb(255, 174, 53);

header {
    .sidebar {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 80px;
        background-color: $bg-color-25;
        padding: 0.4rem 0.8rem;
        transition: all .5s ease;
        
        
        .top {
            .logo {
                color: $white-color;
                display: flex;
                height: 50px;
                width: 100%;
                align-items: center;
                pointer-events: none;
                opacity: 0;
            }
            i {
                color: $white-color;
                cursor: pointer;
                position: absolute;
                top: 0.4rem;
                left: 50%;
                font-size: 1.2rem;
                line-height: 50px;
                transform: translateX(-50%);
            }
        }
        .user {
            display: flex;
            align-items: center;
            margin: 1rem 0;
            .user-img {
                width: 50px;
                border-radius: 100%;
                border: 1px solid #eee;
            }
            .name {
                color: $white-color;
                opacity: 0;
                margin-left: 1rem;
            }
        }
        ul {
            li {
                position: relative;
                height: 50px;
                width: 90%;
                margin: .8rem auto;
                line-height: 50px;
                &:hover {
                    .p {
                        opacity: 1;
                    }
                    .four {
                        position: relative;
                        left: 73px;
                        top: -50px;
                    }
                }
                a {
                    color: $white-color;
                    display: flex;
                    align-items: center;
                    border-radius: .8rem;
                    &:hover {
                        background-color: $white-color;
                        color: $bg-color-25;
                        
                        svg {
                            fill: $bg-color-25;
                        }
                        svg {
                            .path {
                                fill: $bg-color-25;
                            }
                        }
                        .cls-1 {
                            stroke: $bg-color-25;
                        }
                        .cont {
                            stroke: $bg-color-25;
                            fill: $white-color;
                        }
                        .use {  
                            fill: $white-color;
                        }
                    }
                    svg {
                        min-width: 50px;
                        text-align: center;
                        border-radius: 12px;
                    }
                    span {
                        opacity: 0;
                    }
                    
                }
                .p {
                    position: absolute;
                    left: 125px;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    box-shadow: 0 0.5rem 0.8rem rgba(0, 0, 0, 0.2);
                    color: $white-color;
                    border-radius: .6rem;
                    padding: .4rem 1.2rem;
                    line-height: 1.8rem;
                    opacity: 0;
                }
            }
        }
    }
    .sidebar.active ~ {
        .main-content {
            left: 250px;
            width: calc(100% - 250px);
        }
    }
    .sidebar.active {
        width: 250px;   
        #btn {
            left: 90%;
        }
        ul {
            li {
                a {
                    span {
                        opacity: 1;
                    }
                }
                .p {
                    display: none;
                }
            }
        }
        .top {
            .logo {
                opacity: 1;
            }
        }
        .user {
            .name {
                opacity:1;
            }
        }
    }    
}
.main-content {
    position: relative;
    min-height: 100vh;
    top: 0;
    left: 80px;
    padding: 1rem;
    transition: all 0.5s ease;
    width: calc(100% - 80px);
    .container {
        nav {
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid $third-color;
            .logoName {
                h1 {
                    color: $white-color;
                    line-height: 40px;
                    font-weight: 500;
                    span {
                        color: $third-color;
                    }
                }
        
            }
            .socialMedia {
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                width: 120px;
                a {
                    color: $white-color;
                }
                i {
                    font-size: 20px;
                }
            }
        }
        main {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 90vh;
            .texts {
                h1 {
                    font-size: 50px;
                    color: $white-color;
                    span {
                        color: $third-color;
                    }
                }
                p {
                    color: $white-color;
                    font-weight: 500;
                    font-size: 40px;
                    span {
                        color: $third-color;
                    }
                }
            }
            .photo {
                width: 500px;
                img {
                    border-radius: 100%;
                    border: 1px solid $third-color;
                    height: 500px;
                    width: 100%;
                }
            }
        }
    }
}
section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    .container {
        padding-left: 2rem;  
        .top {
            display: flex;
            align-items: center;
            flex-direction: column;
            p {
                &:nth-child(1) {
                    font-size: 24px;
                    font-weight: 500;
                    line-height: 21.94px;            
                    color: $white-color;
                    text-transform: uppercase;
                }
                &:nth-child(2) {
                    margin-top: 46px;
                    border: 1px solid $third-color;
                    width: 44px;
                }
                &:nth-child(3) {
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 17.07px;                
                    color: $white-color;
                    margin-top: 46px;
                }
            }
        }
        .middle {
            p {
                color: $white-color;
                font-weight: 400;
            }
        }
    }
}
.projects {
    .myprojects {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
}
footer {
    background-color: $bg-color-25;
    opacity: .2;
    margin-top: 40px;
    .container {
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        p {
            color: #ffffff;
            font-size: 15px;
            font-weight: 400;
            line-height: 12.89px;   
            margin-left: 55px;         
        }
        .socialMedia {
            display: flex;
            justify-content: center;
            a {
                color: $white-color;
                margin-left: 20px;
            }
        }
    }
}



@media screen and (max-width: 1058px) {
    .main-content {
        .container {
            main {
                flex-direction: column;
                justify-content: space-evenly;
            }
        }
    }
}
@media screen and (max-width: 790px) {
    header {
        .sidebar {
            width: 70px;
            height: 70px;
            overflow: hidden;
            z-index: 10;
            position: fixed;
        }
        .sidebar.active {
            position: fixed;
            top: 0;
            width: 100%;
            height: 400px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            overflow: visible;
            .logo {
                display: none;
            }
            .user {
                display: none;
            }
           ul {
            padding-right: 6700px;
           }
           #btn {
            margin-top: 18px;
           }
        }
        .sidebar.active ~ {
            .main-content {
                left: 0;
                margin-left: 100px;
                width: calc(100% - 250px);
                .position {
                    margin-top: 100px;
                    margin-left: -130px;
                }
                #projects {
                    margin-left: -150px;
                    .container {
                        margin-left: 100px;
                        text-align: center;
                        .myprojects {
                            .image-wrap {
                                height: 282px;
                                width: 275px;
                                img {
                                    width: 100%;
                                }
                        }
                    }
                    }
                }
                .technologies {
                    margin-left: -80px;
                    .top {
                    margin-left: 100px;
                        
                    }

                }
            }
        }
        .position {
            margin-top: 100px;
            margin-left: -70px;
        }
    }
    #projects {
        max-width: 750px;
        .myprojects {
                .image-wrap {
                    img {
                        width: 100%;
                    }
            }
        }
    }
    .main-content {
        margin-left: -50px;
    }
}   
@media screen and (max-width: 660px) {
    .main-content {
        .container {
            main {
            .photo {
                width: 400px;
            }
            }
        }
    }
}
@media screen and (max-width: 1521px) {
    footer {
        position: relative;
        bottom: -500px;
    }
}
@media screen and (max-width: 854px) {
    .technologies {
        position: relative;
        top: 1700px;
        
    }
    footer {
        position: relative;
        top: 3800px;
    }
}
@media screen and (max-width: 1023px) {
    footer {
        bottom: -700px;
    }
}